{% extends 'base.html' %}

{% block title %}
    <title>小世界</title>
{% endblock %}
{% block meta %}
    <meta name="keywords" content="Granet,Python,Django,网络,IT,技术,博客,个人博客">
    <meta name="description" content="Granet 的个人博客，记录生活的瞬间，分享学习的心得，感悟生活">
{% endblock meta %}
{% block left %}
    <div id="main">
        <article class="article article-type-post">
            <div class="article-inner" style="height:300px;text-indent:0px;text-align:center;padding-top:40px;">
                <img src="/media/images/logo.jpg" style="border-radius:50%;width:100px">
                <p style="text-align: center;font-size:18px; font-weight: bold;">张三</p>
                <p id="brief" style="text-align: center;margin-top:20px;">来自南昌，现居深圳，就职xxxxx。</p>
                <p id="brief" style="text-align: center;margin-top:20px;">涉及方向有：网络爬虫、Linux、Web 开发等。</p>
                <p id="brief" style="text-align: center;margin-top:20px;">爱生活、爱艺术、爱书画、爱音乐、爱设计、爱编程。</p>
                <p id="brief" style="text-align: center;margin-top:20px;">人生百态，笑口常开，秉承自我，谨慎独行。</p>
                <p id="brief" style="text-align: center;margin-top:20px;">联系方式</p>
                <p id="brief" style="text-align: center;margin-top:20px;">微信：xxxxxx</p>
                <p id="brief" style="text-align: center;margin-top:20px;">邮箱：xxxxxx</p>
            </div>
        </article>
    </div>
{% endblock %}

