{% extends 'base.html' %}

{% block title %}
    <title>小世界</title>
{% endblock %}
{% block meta %}
    <meta name="keywords" content="Granet,Python,Django,网络,IT,技术,博客,个人博客">
    <meta name="description" content="Granet 的个人博客，记录生活的瞬间，分享学习的心得，感悟生活">
{% endblock meta %}
{% block left %}
    <div id="main">
        <article class="article article-type-post">

            <div class="article-inner">
            <header class="article-header">
                <h1 itemprop="name">
                    联系方式:
                </h1>
                <p>微信：xxxxxx</p>
                <p>邮箱：xxxxxx</p>
            </header>
        </div>
        </article>
    </div>
{% endblock %}

