{% extends 'base.html' %}

{% block title %}
    <title>小世界</title>
{% endblock %}
{% block meta %}
    <meta name="keywords" content="Granet,Python,Django,网络,IT,技术,博客,个人博客">
    <meta name="description" content="Granet 的个人博客，记录生活的瞬间，分享学习的心得，感悟生活">
{% endblock meta %}
{% block left %}
    <div id="main">
        <h3 style="font-size:20px;top: 45px;left: 10px;position: relative;">{{ tip }}</h3>
        {% for post in postList %}
            <article class="article article-type-post">

                <div class="article-inner">
                <header class="article-header">
                    <h1 itemprop="name">
                        <a class="article-title" href="{% url 'post:detail' post.post.id %}" target="_blank">{{ post.post.title }}</a>
                    </h1>
                </header>
            </article>
        {% endfor %}


    </div>
{% endblock %}

